.text--bold {
    font-weight: 600;
    font-size: var(--font-text-2-size);
}

.post__btn {
    background-color: var(--color-brand-1);
    color: var(--color-WhiteFixed);
    border-radius: 5px;
    padding: 15px 0px;
    height: auto;
    width: 5rem;
    cursor: pointer;
}

.follow__btn {
    background-color: var(--color-WhiteFixed);
    color: var(--color-grey1);
    border: 1px solid var(--color-grey1);
    max-width: 5rem;
    height: 1.8rem;
    border-radius: 2px;
    padding: 0 10px;
    cursor: pointer;
}

.open__post {
    background-color: var(--color-grey1);
    color: var(--color-WhiteFixed);
    border: 0;
    max-width: 6rem;
    max-height: 2.5rem;
    padding: 12px;
    border-radius: 2px;
    cursor: pointer;
}

.post__btn:hover {
    background-color: var(--color-brand-2);
}

.follow__btn:hover {
    background-color: var(--color-WhiteFixed);
    border-color: var(--color-brand-2);
}

.follow__btn:focus {
    background-color: var(--color-brand-2);
    color: var(--color-WhiteFixed);
}

.open__post:hover {
    background-color: var(--color-grey0);
}