@import url('./buttons.css');
@import url("./globalStyles.css");
@import url(./header.css);
@import url(./main.css);
@import url(./modal.css);
@import url("./reset.css");
@import url("./texts.css");





@media (max-width: 1025px) {
    .container__createPost {
        flex-direction: column;
    }

    .container__follow {
      
        flex-direction: unset;
    }

    .container__suggestion {
        min-width: 100%;
        overflow-x: auto;
    }

    .list__suggestion {
        min-width: 150px;
        flex-direction: column;
    }

    .container__profile {
        flex-wrap: wrap;
    }
}

@media (max-width: 853px) {
    .container__createPost{
        position: relative;
        margin: 0 1rem;
    }

    .container__follow{
        gap: 0;
        width: 700px;
    }

    .suggestion__effect-white{
        top: 75%;
        right: 0;
        position: absolute;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 59%);
        width: 120px;
        height: 137px;
    }

     .font-text-1{
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
